<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to KisPig</title>
    <link type="text/css" href="/static/plugin/bootstrap/css/bootstrap.css">
</head>
<body>
<header>head</header>
<footer>foot</footer>
</body>
<script src="/static/plugin/jquery/jquery.js" type="application/javascript"></script>
<script src="/static/plugin/bootstrap/js/bootstrap.js" type="application/javascript"></script>
<script src="/static/plugin/vue/vue.js" type="application/javascript"></script>
</html>